:root{
    --brown-chessboard-color: #8B4513;
    --nude-chessboard-color: #DEB887;
}

body {
    background-color: rgb(187, 179, 197);
    overflow-y: hidden;
}

.chessboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


#chess-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chessboardbg-a {
    background-color: var(--brown-chessboard-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;

}

#chessboardbg-a:nth-child(odd) {
    background-color: var(--nude-chessboard-color);
    width: 3.5rem;
    height: 3.5rem;
}

#chessboardbg-b {
    background-color: var(--brown-chessboard-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;

}

#chessboardbg-b:nth-child(even) {
    background-color: var(--nude-chessboard-color);
    width: 3.5rem;
    height: 3.5rem;
}

#chessboardbg-c {
    background-color: var(--brown-chessboard-color);
    width: 3.5rem;
    height: 3.5rem;

}

#chessboardbg-c:nth-child(odd) {
    background-color: var(--nude-chessboard-color);
    width: 3.5rem;
    height: 3.5rem;
}

#chessboardbg-d {
    background-color: var(--brown-chessboard-color);
    width: 3.5rem;
    height: 3.5rem;

}

#chessboardbg-d:nth-child(even) {
    background-color: var(--nude-chessboard-color);
    width: 3.5rem;
    height: 3.5rem;
}

#chessboardbg-e {
    background-color: var(--brown-chessboard-color);
    width: 3.5rem;
    height: 3.5rem;

}

#chessboardbg-e:nth-child(odd) {
    background-color: var(--nude-chessboard-color);
    width: 3.5rem;
    height: 3.5rem;
}

#chessboardbg-f {
    background-color: var(--brown-chessboard-color);
    width: 3.5rem;
    height: 3.5rem;

}

#chessboardbg-f:nth-child(even) {
    background-color: var(--nude-chessboard-color);
    width: 3.5rem;
    height: 3.5rem;
}

#chessboardbg-g {
    background-color: var(--brown-chessboard-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;

}

#chessboardbg-g:nth-child(odd) {
    background-color: var(--nude-chessboard-color);
    width: 3.5rem;
    height: 3.5rem;
}

#chessboardbg-h {
    background-color: var(--brown-chessboard-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;

}

#chessboardbg-h:nth-child(even) {
    background-color: var(--nude-chessboard-color);
    width: 3.5rem;
    height: 3.5rem;
}

#icons-blck {
    color: #000;
}

#icons-wht {
    color: #fff;
}

/* Mobile Responsivity */

@media only screen and (max-width: 500px) {


    #chessboardbg-a{
        width: 2.5rem;
        height: 2.5rem;
    }
    
    #chessboardbg-a:nth-child(odd) {
        width: 2.5rem;
        height: 2.5rem;
    }

    #chessboardbg-b{
        width: 2.5rem;
        height: 2.5rem;
    }

    #chessboardbg-b:nth-child(even) {
        width: 2.5rem;
        height: 2.5rem;
    }

    #chessboardbg-c{
        width: 2.5rem;
        height: 2.5rem;
    }

    #chessboardbg-c:nth-child(odd) {
        width: 2.5rem;
        height: 2.5rem;
    }

    #chessboardbg-d{
        width: 2.5rem;
        height: 2.5rem;
    }

    #chessboardbg-d:nth-child(even) {
        width: 2.5rem;
        height: 2.5rem;
    }

    #chessboardbg-e{
        width: 2.5rem;
        height: 2.5rem;
    }

    #chessboardbg-e:nth-child(odd) {
        width: 2.5rem;
        height: 2.5rem;
    }

    #chessboardbg-f{
        width: 2.5rem;
        height: 2.5rem;
    }

    #chessboardbg-f:nth-child(even) {
        width: 2.5rem;
        height: 2.5rem;
    }

    #chessboardbg-g{
        width: 2.5rem;
        height: 2.5rem;
    }

    #chessboardbg-g:nth-child(odd) {
        width: 2.5rem;
        height: 2.5rem;
    }

    #chessboardbg-h{
        width: 2.5rem;
        height: 2.5rem;
    }

    #chessboardbg-h:nth-child(even) {
        width: 2.5rem;
        height: 2.5rem;
    }
}

